@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: "Noto Sans", sans-serif;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 7.5rem;
  text-align: center;
  margin-top: 1rem;
}

#game-detail{
  margin-left: 40px;
  font-size: 2rem;
  padding: 15px;
  width: fit-content;
  float: left;
  position: absolute;
}

#game-detail span{
  font-weight: 700;
}

#game-detail button{
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 1rem;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
}

.game-over{
  color: red;
  font-weight: bold;
}

#board {
        width: 400px;
        height: 400px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 1rem;
      }

      #board > div {
        font-weight: 700;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }

      #board > div:nth-child(-n+6){
        border-bottom: 1.5px solid black;
      }

      #box1, #box4, #box7,
      #box2, #box5, #box8{
        border-right: 1.5px solid black;
      }


.show{
  display: block;
}

.hide{
  display: none;
}